trigger:
  branches:
    include: [main] # runs on push/merge to main  → for TEST deploy

pr:
  branches:
    include: [main] # runs on PRs targeting main   → for DEV deploy

parameters:
  - name: releaseNotes
    displayName: "Release Notes"
    type: string
    default: "Release notes for the production deployment."
  - name: notifyUsers
    displayName: "Notify Users - one email per line"
    type: object
    default: []

variables:
  - group: cdp-core-pipeline-global-vars

stages:
  ############################## DEV Stage #########################################
  - template: cicd_templates/dev.yml

  ############################## TEST Stage ########################################
  - template: cicd_templates/test.yml

  ############################## APPROVAL Gate #####################################
  - stage: ReleaseApproval
    condition: succeeded('TEST')
    displayName: "RELEASE APPROVAL GATE"
    jobs:
      - template: cicd_templates/modules/jobs/approval_gate.yml
        parameters:
          notifyUsers: ${{ parameters.notifyUsers }}

  ############################## RELEASE Stage #####################################
  - stage: TagAndRelease
    displayName: "TAG & RELEASE"
    condition: succeeded('TEST')
    jobs:
      - template: cicd_templates/modules/jobs/tag_and_release.yml
